# Środowisko wirtualne Pythona
.venv/

# Pamięć podręczna Pythona
__pycache__/
*.pyc
*.pyo
*.pyd

# Pliki tymczasowe uv
.uv/

# Pliki ze zmiennymi środowiskowymi (bezpieczeństwo)
.env

# Cache narzędzi do testów / IDE
.pytest_cache/
.vscode/
.idea/

.zed/
Thumbs.db
.DS_Store
.terraform/
*.tfstate*
